<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index02</title>
</head>
<body>
id:<span th:text="${user.id}"></span>&nbsp;&nbsp;
name:<span th:text="${user.name}"></span>&nbsp;&nbsp;
age:<span th:text="${user.age}"></span><br><br>

id:<span th:text="${map.id}"></span>&nbsp;&nbsp;
name:<span th:text="${map.name}"></span>&nbsp;&nbsp;
gender:<span th:text="${map.gender}"></span><br><br>
</body>
</html>